* {
    margin: 0;
    padding: 0;
}

.container {
    /* background-color: red; */
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 2em;
    margin-bottom: 1em;
    color: black;
    font-size: 2em;
    text-transform: uppercase;
}


/* #ourt {
    margin-top: 2em;
    margin-bottom: 1em;
    color: black;
    font-size: 2em;
    text-transform: uppercase;
} */

hr {
    border: 2px solid green;
    width: 60%;
    margin-left: 2.5rem;
}

#main {
    /* background-color: yellow; */
    /* margin-top: 6rem; */
    position: relative;
    margin-bottom: 5rem;
    height: auto;
    width: 90%;
    display: grid;
    /* display: flex; */
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

#img {
    /* background-size: cover; */
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 50vh;
}

.ins1 {
    /* padding: 10px; */
    width: 100%;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    box-shadow: 0.5px 0.5px 2px grey;
    position: relative;
    /* background-color: red; */
}

.ins1:hover {
    box-shadow: 2px 2px 15px grey;
    border-radius: 10px;
}

.h2 {
    text-align: center;
    margin-left: 1rem;
    width: 80%;
}

.btn {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    color: #5ABA81;
    border: 1px solid#5ABA81;
    margin: 1em 0 1em 1.5em;
    justify-content: center;
    transition: 0.3s;
}

.btn:hover {
    background-color: #5ABA81;
    color: white;
}

.text {
    /* margin: 0px 0; */
    font-size: 1rem;
    text-align: left;
    padding: 20px;
}

.txt2 {
    display: none;
}

.h4 {
    position: absolute;
    background-color: #5ABA81;
    color: white;
    padding: 6px;
    border-radius: 0 5px 0 0;
    top: 0%;
    right: 0%;
}

#title {
    margin-top: 2em;
    margin-bottom: 1em;
    color: black;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}

#title {
    margin-top: 3rem;
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    font-size: 3em;
    font-weight: 400;
    /* background-color: #5ABA81; */
}

.aftr {
    margin-top: 3rem;
    font-weight: lighter;
    width: 100%;
    height: auto;
    /* border: 2px solid black; */
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

#rfrsh {
    background-color: #5ABA81;
    border: none;
    padding: 5px;
    color: white;
    width: 10%;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

#rfrsh:hover {
    cursor: pointer;
    background-color: #387857;
}


/* #smore {
    border: none;
    color: green;
} */

.see {
    color: green;
    border: none;
    cursor: pointer;
    background-color: transparent;
}


/* //from here i am making it responsiveive */

@media screen and (max-width=1200px) {
    #main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width=900px) {
    #main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width=1200px) {
    #main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}